* {
  margin: 0;
  padding: 0;
}

.blankDiv {
  background-color: #ff8000;
  width: 140px;
  height: 35px;
  float: left;
  margin: 8px 100px;
}

.mainNav {
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  text-align: center;
  margin: 0 auto;
}

.mainNav ul {
  width: 385px;
  margin: 0 auto;
}

.mainNav li {
  float: left;
  color: #aaaaaa;
  margin:16px 10px;
  list-style: none;
}

.banner {
  height: 485px;
  width: 100%;
  background-color: #71c4ea;
}

.circle {
  text-align: center;
  width: 920px;
  margin: 0 auto;
}

.circle p {
  width: 142px;
}

.circle div {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: #efefef;
  margin-top: 70px;
  float: left;
}

.bodywrapper .circle p {
  text-align: center;
}

.bodywrapper .circle li {
  float: left;
  list-style: none;
  margin-right: 75px;
}

.bodywrapper h1 {
  margin-top: 64px;
  font-size: 36px;
  color: #444444;
  text-align: center;
}

.footerList {
  height: 50px;
  background-color: #ECECEC;
  margin-top: 110px;
  text-align: center;
}

.footerList li {
  float: left;
  list-style: none;
  font-weight: bold;
  margin: 17px 10px;
}

.footerList a {
  color: #FF8000;
  font-size: 16px;
  text-decoration: none;
}

.footerList a:hover {
  color: #444444;
}

.footerWrapper {
  width: 420px;
  margin: 0 auto;
}

.clearList {
	clear: both;
	float: none;
}
